.footer
{
    background-color: rgb(77, 77, 77);
    padding: 30px;
    &__lien
    {
        display: block;
        margin: 10px 0;
        color: white;
        width: max-content;
        @media only screen and (min-width : 1100px) 
        {
            margin: 10px auto;   
        }
    }
    &__titre
    {
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    &__icone
    {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}