.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: lightgray 2px solid;
}
.retour
{
    position: absolute;
    left: 5%;
    top: 22px;
    font-size: 25px;
}