body
{
    font-family: 'Roboto', sans-serif;
}
.shrikhand
{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 500;
}
.gras__accueil
{
    font-weight: bold;
    margin: 5px 0;
}
.gras__menu
{
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: black;
}

h2
{
    font-size: 1.5em;
}