@mixin btn ($color:$couleur-primaire) 
{
    background: linear-gradient(to right bottom,$couleur-secondaire, $couleur-primaire);
    border-radius: 30px;
    border: none;
    box-shadow: gray 0px 7px 40px 0px;
    color: white;
    font-size: 18px;
    padding: 20px 20px;
    &:hover
    {
        background: linear-gradient(
            to right bottom, 
            lighten($color: $couleur-secondaire, $amount: 10%),
            lighten($color: $couleur-primaire, $amount: 10%)
        );
        box-shadow: darken($color: gray, $amount: 10%) 0px 7px 40px 5px;
    }
}

@mixin textLong 
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}